@font-face {
    font-family: myfont;
    src: url(ReemKufiInk-Regular.ttf);
  }
body{
    font-family: myfont;
    font-size: xx-large;
}
.font-color{
  font-size: large;
  text-align: center;
  background-color:rgb(77, 187, 26);
  
}